rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    /*
     * EXISTING SITE DATA
     * इसे बदला नहीं गया।
     */

    match /site/main {

      allow read: if true;

      allow write:
        if request.auth != null;
    }


    /*
     * RESULT VIEW COUNTER
     */

    match /resultViews/{resultId} {

      /*
       * Latest total views public पढ़ सकता है.
       */

      allow read: if true;


      /*
       * Counter पहली बार 1 से create हो सकता है.
       */

      allow create:
        if request.resource.data.count == 1;


      /*
       * Existing counter केवल +1 हो सकता है.
       */

      allow update:
        if request.resource.data.count ==
           resource.data.count + 1;


      /*
       * Counter delete नहीं होगा.
       */

      allow delete: if false;


      /*
       * DAILY VIEW MARKER
       */

      match /daily/{markerId} {

        /*
         * Marker check करने की permission.
         */

        allow read: if true;


        /*
         * केवल नया marker create होगा.
         */

        allow create:
          if request.resource.data.day is string
          &&
          request.resource.data.createdAt is string;


        /*
         * Marker बदलना/delete करना allowed नहीं.
         */

        allow update, delete: if false;
      }

    }

  }

}
